rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /brews/{brewId} {
      allow read: if request.auth != null;
      allow create: if request.auth != null && (resource == null || request.auth.uid == resource.data.userId);
      allow update, delete: if request.auth != null && (resource == null || request.auth.uid == resource.data.userId);
    }
    match /beans/{beanId} {
      allow read: if request.auth != null;
      allow create: if request.auth != null && (resource == null || request.auth.uid == resource.data.userId);
      allow update, delete: if request.auth != null && (resource == null || request.auth.uid == resource.data.userId);
    }
  }
}
